@use "reset";
@use "variables" as *;
@use "function" as *;
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Noto+Sans+TC:wght@100..900&display=swap');

@font-face {
    font-family: chTitle;
    src: url(../webfont/ChenYuluoyan-Thin-Monospaced.ttf);
}

html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 100vh;
    background-color: $color-lightBlack;
    overflow: hidden;
}

#topBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: transparent;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo{
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 120px;
        height: 100%;
        opacity: 0.8;
        transition: all 0.2s ease-in-out;
        button{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &.show{
            opacity: 0.8;
            visibility: visible;
        }
        &.hide{
            opacity: 0;
            visibility: hidden;
        }
    }
    .menu{
        opacity: 0;
        visibility: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 70px;
        background-color: rgba(56, 56, 56, 0.8);
        border-radius: 10px;
        transform: translateY(-100%);
        transition: all 0.5s ease-out;
        &.show{
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
        &.hide{
            opacity: 0;
            visibility: hidden;
            transform: translateY(-100%);
        }
        li{
            a{
                position: relative;
                color: $color-white;
                font-family: $font-family-ch;
                font-size: $font-size-14;
                width: 94px;
                height: 20px;
                text-align: center;
                margin: 0 10px;
                transition: all 0.2s ease-in-out;
            }
            a::after{
                position: absolute;
                top: 57.45%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: "";
                display: block;
                width: 126px;
                height: 64px;
                background-image: url(../images/graphs/aGraph.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            a:hover{
                background-color: rgba(217, 217, 217, 0.8);
                color: transparent;

            }
            .a1:hover::before{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: "開場";
                color: $color-black;
            }
            .a2:hover::before{
                width: 120px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: "都市三俠";
                color: $color-black;
            }
            .a3:hover::before{
                width: 120px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: "其他常見野鳥";
                color: $color-black;
            }
            .a4:hover::before{
                position: absolute;
                width: 120px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: "常見外來種";
                color: $color-black;
            }
            .a5:hover::before{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: "窗殺";
                color: $color-black;
            }
        }
        &::before{
            content: "";
            position: absolute;
            top: -20%;
            left: -2%;
            width: 73px;
            height: 73px;
            background-image: url(../images/graphs/navGraph.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
    
        }
        &::after{
            content: "";
            position: absolute;
            bottom: -20%;
            right: -2%;
            width: 73px;
            height: 73px;
            background-image: url(../images/graphs/navGraph.png);
            transform: rotate(180deg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
    
        }
    }
}

#banner{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .whiteCurtain{
        position: absolute;
        top: -5%;
        left: -5%;
        width: 140%;
        height: 100vh;
        object-fit: cover;
        z-index: 2;
    }
    .bannerImg{
        position: absolute;
        bottom: 5%;
        left: 0%;
        width: 130%;
        height: 100%;
        object-fit: cover;
    }
    .banner2Img{
        position: absolute;
        width: 130%;
        top: 25%; 
        left: -10%;
        object-fit: cover;
    }
    h1{
        color: $color-white;
        font-family: chTitle;
        font-size: $font-size-120;
        margin: 10% 0;
    }
    .scrollAlign{
        // margin: 10% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            color: $color-white;
            font-family: $font-family-en;
            font-size: $font-size-60;
        }
        img {
            animation: fadeInOut 2s ease-in-out infinite;
        }
    }
}

#first-title, #second-title, #third-title, #last-title{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .titleGraph{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        width: 100vh;
        height: 165%;
        object-fit: cover;
    }
    h3{
        color: $color-white;
        font-family: $font-family-ch;
        font-size: $font-size-40;
    }
    h1{
        color: $color-white;
        font-family: chTitle;
        font-size: $font-size-120;
    }
}

#first-content{
    position: relative;
    .box1{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: start;
        justify-content: center;
        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $color-white;
            font-family: $font-family-ch;
            font-size: $font-size-36;
            margin-top: 50px;
            .title-1{
                margin-bottom: 10px;
            }
        }
        .imgSet{
            position: absolute;
            z-index: 2;
            top: -5%;
            left: 2%;
            width: 50%;
            height: 100%;
            .line{
                width: 100%;
                height: 50%;
            }
            .WhiteEyeImg{
                position: absolute;
                top: 30%;
                width: 100%;
                height: fit-content;
                object-fit: cover;
                transform: rotateY(180deg);
            }
        }
        .textSet{
            position: absolute;
            z-index: 2;
            top:35%;
            right: 10%;
            width: 45%;
            .content-title{
                color: $color-white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 60px;
                .title-ch{
                    font-size: $font-size-32;
                    font-family: $font-family-ch;
                }
                .title-en{
                    font-size: $font-size-28;
                    font-family: $font-family-en;
                }
            }
        }
        .firstContentGraph{
            position: absolute;
            top: 15%;
            left: -20%;
            width: 125%;
            object-fit: cover;
           
        }
        .content-text{
            color: $color-white;
            display: flex;
            flex-direction: column;
            align-items: start;
            font-size: $font-size-18;
            line-height: 2;
            .text-1{
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
                margin-bottom: 20px;
                .text-1-title{
                    width: 100px;
                }
                .text-1-content{
                    width: 100%;
                }
            }
            .text-2{
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
                margin-bottom: 20px;
                .text-2-title{
                    width: 100px;
                }
                .text-2-content{
                    width: 100%;
                }
            }
            .text-3{
                display: flex;
                align-items: start;
                width: 100%;
                justify-content: start;
                margin-bottom: 20px;
                .text-3-title{
                    width: 100px;
                }
                .text-3-content{
                    width: 100%;
                }
            }
            .text-4{
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
                .text-4-title{
                    width: 100px;
                }
                .text-4-content{
                    width: 100%;
                }
            }
        }
    }
    .box2{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: start;
        justify-content: center;
        .title{
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $color-white;
            font-family: $font-family-ch;
            font-size: $font-size-36;
            margin-top: 50px;
            .title-1{
                margin-bottom: 10px;
            }
        }
        .imgSet{
            position: absolute;
            z-index: 2;
            top: -5%;
            right: 2%;
            width: 50%;
            height: 100%;
            .line{
                width: 100%;
                height: 50%;
            }
            .BulbulImg{
                position: absolute;
                top: 20%;
                left: 35%;
                width: 45%;
                height: fit-content;
                object-fit: cover;
            }
            a{
                position: absolute;
                bottom: 0;
                right: 20%;
                transform: translate(-50%,-50%);
                color: $color-gray;
            }
        }
        .textSet{
            position: absolute;
            z-index: 2;
            top:35%;
            left: 10%;
            width: 45%;
            .content-title{
                color: $color-white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 60px;
                .title-ch{
                    font-size: $font-size-32;
                    font-family: $font-family-ch;
                }
                .title-en{
                    font-size: $font-size-28;
                    font-family: $font-family-en;
                }
            }
        }
        .firstContentGraph{
            position: absolute;
            top: 15%;
            right: -20%;
            width: 125%;
            object-fit: cover;
            transform: rotateY(180deg);
           
        }
        .content-text{
            color: $color-white;
            display: flex;
            flex-direction: column;
            align-items: start;
            font-size: $font-size-18;
            line-height: 2;
            .text-1{
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
                margin-bottom: 20px;
                .text-1-title{
                    width: 100px;
                }
                .text-1-content{
                    width: 100%;
                }
            }
            .text-2{
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
                margin-bottom: 20px;
                .text-2-title{
                    width: 100px;
                }
                .text-2-content{
                    width: 100%;
                }
            }
            .text-3{
                display: flex;
                align-items: start;
                width: 100%;
                justify-content: start;
                margin-bottom: 20px;
                .text-3-title{
                    width: 100px;
                }
                .text-3-content{
                    width: 100%;
                }
            }
            .text-4{
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
                .text-4-title{
                    width: 100px;
                }
                .text-4-content{
                    width: 100%;
                }
            }
        }
    }
    .box3{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: start;
        justify-content: center;
        .title{
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $color-white;
            font-family: $font-family-ch;
            font-size: $font-size-36;
            margin-top: 50px;
            .title-1{
                margin-bottom: 10px;
            }
        }
        .imgSet{
            position: absolute;
            z-index: 2;
            top: -5%;
            left: 2%;
            width: 50%;
            height: 100%;
            .line{
                position: absolute;
                top: 0;
                left: -15%;
                width: 100%;
                height: 60%;
            }
            .SparrowImg{
                position: absolute;
                top: 30%;
                left: -20%;
                width: 95%;
                height: fit-content;
                object-fit: cover;
                transform: rotateY(180deg);
            }
        }
        .textSet{
            position: absolute;
            z-index: 2;
            top:35%;
            right: 10%;
            width: 45%;
            .content-title{
                color: $color-white;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 60px;
                .title-ch{
                    font-size: $font-size-32;
                    font-family: $font-family-ch;
                }
                .title-en{
                    font-size: $font-size-28;
                    font-family: $font-family-en;
                }
            }
        }
        .firstContentGraph{
            position: absolute;
            top: 15%;
            left: -20%;
            width: 125%;
            object-fit: cover;
           
        }
        .content-text{
            color: $color-white;
            display: flex;
            flex-direction: column;
            align-items: start;
            font-size: $font-size-18;
            line-height: 2;
            .text-1{
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
                margin-bottom: 20px;
                .text-1-title{
                    width: 100px;
                }
                .text-1-content{
                    width: 100%;
                }
            }
            .text-2{
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
                margin-bottom: 20px;
                .text-2-title{
                    width: 100px;
                }
                .text-2-content{
                    width: 100%;
                }
            }
            .text-3{
                display: flex;
                align-items: start;
                width: 100%;
                justify-content: start;
                margin-bottom: 20px;
                .text-3-title{
                    width: 100px;
                }
                .text-3-content{
                    width: 100%;
                }
            }
            .text-4{
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
                .text-4-title{
                    width: 100px;
                }
                .text-4-content{
                    width: 100%;
                }
            }
        }
    }
}

#first-summary{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    .first-summary-text{
        margin-top: 10%;
        width: 40%;
        color: $color-white;
        font-size: $font-size-24;
        line-height: 2;
        text-align: center;
    }
    .first-summary-img-1{
        position: absolute;
        top: 10%;
        left: 5%;
        width: 20%;
        height: fit-content;
        object-fit: cover;
        transform: rotate(-5deg);
        border: $color-white solid 10px;
        border-radius: 10px;
    }
    .first-summary-img-2{
        position: absolute;
        bottom: 5%;
        left: 5%;
        width: 23%;
        height: fit-content;
        object-fit: cover;
        transform: rotateY(180deg);
        border: $color-white solid 10px;
        border-radius: 10px;
    }
    .first-summary-img-3{
        position: absolute;
        top: 15%;
        right: 5%;
        width: 20%;
        height: fit-content;
        object-fit: cover;
        transform: rotate(5deg);
        border: $color-white solid 10px;
        border-radius: 10px;
    }
    .first-summary-img-4{
        position: absolute;
        bottom: 8%;
        right: 5%;
        width: 50%;
        height: fit-content;
        object-fit: cover;
    }
}

#second-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    .second-content-title{
        color: $color-white;
        font-size: $font-size-36;
        line-height: 2;
        text-align: center;
        margin: 2% 0;
    }
    .panel{
        width: 40%;
        height: 60%;
        background-color: $color-gray;
        border-radius: 20px;
        padding: 3%;
        .content-title{
                color: $color-black;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 10px;
                border-bottom: $color-black solid 3px;
                margin-bottom: 30px;
                .title-ch{
                    font-size: $font-size-36;
                    font-family: $font-family-ch;
                }
                .title-en{
                    font-size: $font-size-28;
                    font-family: $font-family-en;
            }
        }
        .content-text{
            color: $color-black;
            display: flex;
            flex-direction: column;
            align-items: start;
            font-size: $font-size-18;
            font-family: $font-family-ch;
            line-height: 2;
            padding: 0 20px;
            .text-1{
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
                margin-bottom: 20px;
                .text-1-title{
                    width: 100px;
                }
                .text-1-content{
                    width: 100%;
                }
            }
            .text-2{
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
                margin-bottom: 20px;
                .text-2-title{
                    width: 100px;
                }
                .text-2-content{
                    width: 100%;
                }
            }
            .text-3{
                display: flex;
                align-items: start;
                width: 100%;
                justify-content: start;
                margin-bottom: 20px;
                .text-3-title{
                    width: 100px;
                }
                .text-3-content{
                    width: 100%;
                }
            }
            .text-4{
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
                .text-4-title{
                    width: 100px;
                }
                .text-4-content{
                    width: 100%;
                }
            }
        }
    }
    .second-content-graph{
        margin-top: 2%;
        width: 35%;
    }
}

#second-summary{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    .second-summary-text{
        margin-top: 12%;
        width: 40%;
        color: $color-white;
        font-size: $font-size-24;
        line-height: 2;
        text-align: center;
    }
    .second-summary-img-1{
        position: absolute;
        top: 5%;
        left: 0;
        width: 30%;
        height: fit-content;
        object-fit: cover;
    }
    .second-summary-img-2{
        position: absolute;
        bottom: 5%;
        left: 0;
        width: 25%;
        height: fit-content;
        object-fit: cover;
    }
    .second-summary-img-3{
        position: absolute;
        bottom: -1%;
        right: -1%;
        width: 60%;
        height: fit-content;
        object-fit: cover;
    }
}

#third-content{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-white;
        font-family: $font-family-ch;
        font-size: $font-size-36;
        margin-top: 50px;
        .title-1{
            margin-bottom: 10px;
        }
    }
    .imgSet{
        position: absolute;
        top: 35%;
        left: 5%;
        width: 40%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .imgSet-1{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 40%;
            .imgSet-1-1{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 25%;
                height: 100%;
                cursor: pointer;
                .graph{
                    position: absolute;
                    top: 10%;
                    z-index: 10;
                    width: 80%;
                    transition: all 0.3s ease;
                }
                .img{
                    width: 90%;
                    transition: all 0.3s ease;
                }
                &:hover{
                    .graph{
                        transform: translateY(-20px);
                    }
                    .img{
                        transform: scale(1.1);
                    }
                }
                &.active{
                    .graph{
                        transform: translateY(-20px);
                    }
                    .img{
                        transform: scale(1.1);
                    }
                }
            }
            .imgSet-1-2{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 25%;
                height: 100%;
                cursor: pointer;
                .graph{
                    position: absolute;
                    top: 10%;
                    z-index: 10;
                    width: 80%;
                    transition: all 0.3s ease;
                }
                .img{
                    width: 85%;
                    transition: all 0.3s ease;
                }
                &:hover{
                    .graph{
                        transform: translateY(-20px);
                    }
                    .img{
                        transform: scale(1.1);
                    }
                }
                &.active{
                    .graph{
                        transform: translateY(-20px);
                    }
                    .img{
                        transform: scale(1.1);
                    }
                }
            }
            .imgSet-1-3{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 25%;
                height: 100%;
                cursor: pointer;
                .graph{
                    position: absolute;
                    top: 10%;
                    z-index: 10;
                    width: 80%;
                    transition: all 0.3s ease;
                }
                .img{
                    width: 70%;
                    transition: all 0.3s ease;
                }
                &:hover{
                    .graph{
                        transform: translateY(-20px);
                    }
                    .img{
                        transform: scale(1.1);
                    }
                }
                &.active{
                    .graph{
                        transform: translateY(-20px);
                    }
                    .img{
                        transform: scale(1.1);
                    }
                }
            }
        }
        .imgSet-2{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 40%;
            .imgSet-2-1{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 25%;
                height: 100%;
                cursor: pointer;
                .graph{
                    position: absolute;
                    top: 10%;
                    z-index: 10;
                    width: 80%;
                    transition: all 0.3s ease;
                }
                .img{
                    width: 60%;
                    transition: all 0.3s ease;
                }
                &:hover{
                    .graph{
                        transform: translateY(-20px);
                    }
                    .img{
                        transform: scale(1.1);
                    }
                }
                &.active{
                    .graph{
                        transform: translateY(-20px);
                    }
                    .img{
                        transform: scale(1.1);
                    }
                }
            }
            .imgSet-2-2{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 25%;
                height: 100%;
                cursor: pointer;
                .graph{
                    position: absolute;
                    top: 10%;
                    z-index: 10;
                    width: 80%;
                    transition: all 0.3s ease;
                }
                .img{
                    width: 70%;
                    transition: all 0.3s ease;
                }
                &:hover{
                    .graph{
                        transform: translateY(-20px);
                    }
                    .img{
                        transform: scale(1.1);
                    }
                }
                &.active{
                    .graph{
                        transform: translateY(-20px);
                    }
                    .img{
                        transform: scale(1.1);
                    }
                }
            }
            .imgSet-2-3{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 25%;
                height: 100%;
                cursor: pointer;
                .graph{
                    position: absolute;
                    top: 10%;
                    z-index: 10;
                    width: 80%;
                    transition: all 0.3s ease;
                }
                .img{
                    width: 60%;
                    transition: all 0.3s ease;
                }
                &:hover{
                    .graph{
                        transform: translateY(-20px);
                    }
                    .img{
                        transform: scale(1.1);
                    }
                }
                &.active{
                    .graph{
                        transform: translateY(-20px);
                    }
                    .img{
                        transform: scale(1.1);
                    }
                }
            }
            .imgSet-2-4{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 25%;
                height: 100%;
                cursor: pointer;
                .graph{
                    position: absolute;
                    top: 10%;
                    z-index: 10;
                    width: 80%;
                    transition: all 0.3s ease;
                }
                .img{
                    width: 80%;
                    transition: all 0.3s ease;
                }
                &:hover{
                    .graph{
                        transform: translateY(-20px);
                    }
                    .img{
                        transform: scale(1.1);
                    }
                }
                &.active{
                    .graph{
                        transform: translateY(-20px);
                    }
                    .img{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    .panel{
        position: absolute;
        top: 30%;
        right: 10%;
        width: 40%;
        height: 60%;
        background-color: $color-gray;
        border-radius: 20px;
        padding: 3%;
        .content-title{
                color: $color-black;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 10px;
                border-bottom: $color-black solid 3px;
                margin-bottom: 30px;
                .title-ch{
                    font-size: $font-size-36;
                    font-family: $font-family-ch;
                }
                .title-en{
                    font-size: $font-size-28;
                    font-family: $font-family-en;
            }
        }
        .content-text{
            color: $color-black;
            display: flex;
            flex-direction: column;
            align-items: start;
            font-size: $font-size-18;
            font-family: $font-family-ch;
            line-height: 2;
            padding: 0 20px;
            .text-1{
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
                margin-bottom: 20px;
                .text-1-title{
                    width: 100px;
                }
                .text-1-content{
                    width: 100%;
                }
            }
            .text-2{
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
                margin-bottom: 20px;
                .text-2-title{
                    width: 100px;
                }
                .text-2-content{
                    width: 100%;
                }
            }
            .text-3{
                display: flex;
                align-items: start;
                width: 100%;
                justify-content: start;
                margin-bottom: 20px;
                .text-3-title{
                    width: 100px;
                }
                .text-3-content{
                    width: 100%;
                }
            }
            .text-4{
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
                .text-4-title{
                    width: 100px;
                }
                .text-4-content{
                    width: 100%;
                }
            }
        }
    }
}

#third-summary{
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    .third-summary-text{
        margin-top: 12%;
        width: 40%;
        color: $color-white;
        font-size: $font-size-24;
        line-height: 2;
        text-align: center;
    }
    .third-summary-img-1{
        position: absolute;
        top: 5%;
        left: 0;
        width: 20%;
        height: fit-content;
        object-fit: cover;
    }
    .third-summary-img-2{
        position: absolute;
        bottom: 3%;
        left: 5%;
        width: 20%;
        height: fit-content;
        object-fit: cover;
    }
    .third-summary-img-3{
        position: absolute;
        top: 3%;
        right: 0;
        width: 25%;
        height: fit-content;
        object-fit: cover;
    }
    .third-summary-img-4{
        position: absolute;
        bottom: 15%;
        right: 1%;
        width: 20%;
        height: fit-content;
        object-fit: cover;
    }
    .third-summary-img-5{
        position: absolute;
        bottom: 3%;
        right: 18%;
        width: 20%;
        height: fit-content;
        object-fit: cover;
    }
}

#last-content-1{
    position: relative;
    .textSet{
        position: absolute;
        top: 15%;
        left: 10%;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            color: $color-white;
            font-family: $font-family-ch;
            font-size: $font-size-40;
        }
        p{
            margin-top: 30px;
            color: $color-white;
            font-family: $font-family-ch;
            font-size: $font-size-24;
            line-height: 2;
            text-align: right;
        }
        span{
            font-size: $font-size-32;
        }
    }
    .last-content-1-img{
        position: absolute;
        bottom: 5%;
        left: 5%;
        width: 25%;
        height: fit-content;
        object-fit: cover;
    }
    .last-content-1-img-2{
        position: absolute;
        bottom: 2%;
        right: -1%;
        width: 50%;
        height: fit-content;
        object-fit: cover;
    }
}

#last-content-2{
    position: relative;
    .last-content-2-text{
        margin-top: 10%;
        width: 50%;
        color: $color-white;
        font-size: $font-size-40;
        line-height: 2;
        text-align: center;
    }
    .imgSet1{
        position: absolute;
        top: 50%;
        left: 10%;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: rotate(-15deg);
        img{
            width: 80%;
            height: fit-content;
            object-fit: cover;
            border: $color-white solid 3px;
            border-radius: 10px;
        }
        p{
            margin-top: 30px;
            color: $color-white;
            font-family: $font-family-ch;
            font-size: $font-size-20;
            text-align: center;
        }
    }
    .imgSet2{
        position: absolute;
        top: 50%;
        left: 40%;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: rotate(15deg);
        img{
            width: 80%;
            height: fit-content;
            object-fit: cover;
            border: $color-white solid 3px;
            border-radius: 10px;
        }
        p{
            margin-top: 30px;
            color: $color-white;
            font-family: $font-family-ch;
            font-size: $font-size-20;
            text-align: center;
        }
    }
    .imgSet3{
        position: absolute;
        top: 30%;
        right: 5%;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            width: 80%;
            height: fit-content;
            object-fit: cover;
            border: $color-white solid 3px;
            border-radius: 10px;
        }
        p{
            margin-top: 50px;
            color: $color-white;
            font-family: $font-family-ch;
            font-size: $font-size-20;
            text-align: center;
        }
        a{
            position: absolute;
            bottom: 10%;
            right: 2%;
            color: $color-gray;
        }
    }
}

#last-summary{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .textSet{
        width: 40%;
        color: $color-white;
        line-height: 2;
        text-align: center;
        font-family: $font-family-ch;
        p{
            font-size: $font-size-24;
        }
        h2{
            margin-top: 50px;
            font-size: $font-size-36;
        }
    }
    .last-summary-img-1{
        position: absolute;
        bottom: 5%;
        left: -1%;
        width: 30%;
        height: fit-content;
        object-fit: cover;
    }
    .last-summary-img-2{
        position: absolute;
        top: 5%;
        right: 5%;
        width: 25%;
        height: fit-content;
        object-fit: cover;
    }
    .last-summary-img-3{
        position: absolute;
        bottom: 5%;
        right: 0%;
        width: 30%;
        height: fit-content;
        object-fit: cover;
    }
}

footer{
    width: 100%;
    height: 250px;
    background-color: $color-lightBlack;
    display: flex;
    justify-content: center;
    div{
        width: 80%;
        height: 100%;
        border-top: $color-white solid 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            color: $color-white;
            font-family: $font-family-ch;
            font-size: $font-size-16;
        }
        span{
            font-family: $font-family-en;
        }
        a{
            display: inline-block;
            color: $color-gray;
        }
    }
}