@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Noto+Sans+TC:wght@100..900&display=swap");
@keyframes fadeInOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.2;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* RESET */
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "Noto Sans TC", "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  font-optical-sizing: auto;
  font-size: 100%;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  display: block;
  color: #666;
  text-decoration: none;
}

/* RESET  END*/
@font-face {
  font-family: chTitle;
  src: url(../webfont/ChenYuluoyan-Thin-Monospaced.ttf);
}
html {
  scroll-behavior: smooth;
}

section {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

#topBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: transparent;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
#topBar .logo {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 120px;
  height: 100%;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
#topBar .logo button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#topBar .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#topBar .logo.show {
  opacity: 0.8;
  visibility: visible;
}
#topBar .logo.hide {
  opacity: 0;
  visibility: hidden;
}
#topBar .menu {
  opacity: 0;
  visibility: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 70px;
  background-color: rgba(56, 56, 56, 0.8);
  border-radius: 10px;
  transform: translateY(-100%);
  transition: all 0.5s ease-out;
}
#topBar .menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
#topBar .menu.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
}
#topBar .menu li a {
  position: relative;
  color: #FFFFFF;
  font-family: "Noto Sans TC";
  font-size: 0.875rem;
  width: 94px;
  height: 20px;
  text-align: center;
  margin: 0 10px;
  transition: all 0.2s ease-in-out;
}
#topBar .menu li a::after {
  position: absolute;
  top: 57.45%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 126px;
  height: 64px;
  background-image: url(../images/graphs/aGraph.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#topBar .menu li a:hover {
  background-color: rgba(217, 217, 217, 0.8);
  color: transparent;
}
#topBar .menu li .a1:hover::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "開場";
  color: #000000;
}
#topBar .menu li .a2:hover::before {
  width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "都市三俠";
  color: #000000;
}
#topBar .menu li .a3:hover::before {
  width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "其他常見野鳥";
  color: #000000;
}
#topBar .menu li .a4:hover::before {
  position: absolute;
  width: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "常見外來種";
  color: #000000;
}
#topBar .menu li .a5:hover::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "窗殺";
  color: #000000;
}
#topBar .menu::before {
  content: "";
  position: absolute;
  top: -20%;
  left: -2%;
  width: 73px;
  height: 73px;
  background-image: url(../images/graphs/navGraph.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#topBar .menu::after {
  content: "";
  position: absolute;
  bottom: -20%;
  right: -2%;
  width: 73px;
  height: 73px;
  background-image: url(../images/graphs/navGraph.png);
  transform: rotate(180deg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#banner .whiteCurtain {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 140%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}
#banner .bannerImg {
  position: absolute;
  bottom: 5%;
  left: 0%;
  width: 130%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#banner .banner2Img {
  position: absolute;
  width: 130%;
  top: 25%;
  left: -10%;
  -o-object-fit: cover;
     object-fit: cover;
}
#banner h1 {
  color: #FFFFFF;
  font-family: chTitle;
  font-size: 7.5rem;
  margin: 10% 0;
}
#banner .scrollAlign {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#banner .scrollAlign h2 {
  color: #FFFFFF;
  font-family: "Covered By Your Grace";
  font-size: 3.75rem;
}
#banner .scrollAlign img {
  animation: fadeInOut 2s ease-in-out infinite;
}

#first-title,
#second-title,
#third-title,
#last-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#first-title .titleGraph,
#second-title .titleGraph,
#third-title .titleGraph,
#last-title .titleGraph {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 100vh;
  height: 165%;
  -o-object-fit: cover;
     object-fit: cover;
}
#first-title h3,
#second-title h3,
#third-title h3,
#last-title h3 {
  color: #FFFFFF;
  font-family: "Noto Sans TC";
  font-size: 2.5rem;
}
#first-title h1,
#second-title h1,
#third-title h1,
#last-title h1 {
  color: #FFFFFF;
  font-family: chTitle;
  font-size: 7.5rem;
}

#first-content {
  position: relative;
}
#first-content .box1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
}
#first-content .box1 .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  font-family: "Noto Sans TC";
  font-size: 2.25rem;
  margin-top: 50px;
}
#first-content .box1 .title .title-1 {
  margin-bottom: 10px;
}
#first-content .box1 .imgSet {
  position: absolute;
  z-index: 2;
  top: -5%;
  left: 2%;
  width: 50%;
  height: 100%;
}
#first-content .box1 .imgSet .line {
  width: 100%;
  height: 50%;
}
#first-content .box1 .imgSet .WhiteEyeImg {
  position: absolute;
  top: 30%;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotateY(180deg);
}
#first-content .box1 .textSet {
  position: absolute;
  z-index: 2;
  top: 35%;
  right: 10%;
  width: 45%;
}
#first-content .box1 .textSet .content-title {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
#first-content .box1 .textSet .content-title .title-ch {
  font-size: 2rem;
  font-family: "Noto Sans TC";
}
#first-content .box1 .textSet .content-title .title-en {
  font-size: 1.75rem;
  font-family: "Covered By Your Grace";
}
#first-content .box1 .firstContentGraph {
  position: absolute;
  top: 15%;
  left: -20%;
  width: 125%;
  -o-object-fit: cover;
     object-fit: cover;
}
#first-content .box1 .content-text {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.125rem;
  line-height: 2;
}
#first-content .box1 .content-text .text-1 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-bottom: 20px;
}
#first-content .box1 .content-text .text-1 .text-1-title {
  width: 100px;
}
#first-content .box1 .content-text .text-1 .text-1-content {
  width: 100%;
}
#first-content .box1 .content-text .text-2 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-bottom: 20px;
}
#first-content .box1 .content-text .text-2 .text-2-title {
  width: 100px;
}
#first-content .box1 .content-text .text-2 .text-2-content {
  width: 100%;
}
#first-content .box1 .content-text .text-3 {
  display: flex;
  align-items: start;
  width: 100%;
  justify-content: start;
  margin-bottom: 20px;
}
#first-content .box1 .content-text .text-3 .text-3-title {
  width: 100px;
}
#first-content .box1 .content-text .text-3 .text-3-content {
  width: 100%;
}
#first-content .box1 .content-text .text-4 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
}
#first-content .box1 .content-text .text-4 .text-4-title {
  width: 100px;
}
#first-content .box1 .content-text .text-4 .text-4-content {
  width: 100%;
}
#first-content .box2 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
}
#first-content .box2 .title {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  font-family: "Noto Sans TC";
  font-size: 2.25rem;
  margin-top: 50px;
}
#first-content .box2 .title .title-1 {
  margin-bottom: 10px;
}
#first-content .box2 .imgSet {
  position: absolute;
  z-index: 2;
  top: -5%;
  right: 2%;
  width: 50%;
  height: 100%;
}
#first-content .box2 .imgSet .line {
  width: 100%;
  height: 50%;
}
#first-content .box2 .imgSet .BulbulImg {
  position: absolute;
  top: 20%;
  left: 35%;
  width: 45%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}
#first-content .box2 .imgSet a {
  position: absolute;
  bottom: 0;
  right: 20%;
  transform: translate(-50%, -50%);
  color: #D9D9D9;
}
#first-content .box2 .textSet {
  position: absolute;
  z-index: 2;
  top: 35%;
  left: 10%;
  width: 45%;
}
#first-content .box2 .textSet .content-title {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
#first-content .box2 .textSet .content-title .title-ch {
  font-size: 2rem;
  font-family: "Noto Sans TC";
}
#first-content .box2 .textSet .content-title .title-en {
  font-size: 1.75rem;
  font-family: "Covered By Your Grace";
}
#first-content .box2 .firstContentGraph {
  position: absolute;
  top: 15%;
  right: -20%;
  width: 125%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotateY(180deg);
}
#first-content .box2 .content-text {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.125rem;
  line-height: 2;
}
#first-content .box2 .content-text .text-1 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-bottom: 20px;
}
#first-content .box2 .content-text .text-1 .text-1-title {
  width: 100px;
}
#first-content .box2 .content-text .text-1 .text-1-content {
  width: 100%;
}
#first-content .box2 .content-text .text-2 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-bottom: 20px;
}
#first-content .box2 .content-text .text-2 .text-2-title {
  width: 100px;
}
#first-content .box2 .content-text .text-2 .text-2-content {
  width: 100%;
}
#first-content .box2 .content-text .text-3 {
  display: flex;
  align-items: start;
  width: 100%;
  justify-content: start;
  margin-bottom: 20px;
}
#first-content .box2 .content-text .text-3 .text-3-title {
  width: 100px;
}
#first-content .box2 .content-text .text-3 .text-3-content {
  width: 100%;
}
#first-content .box2 .content-text .text-4 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
}
#first-content .box2 .content-text .text-4 .text-4-title {
  width: 100px;
}
#first-content .box2 .content-text .text-4 .text-4-content {
  width: 100%;
}
#first-content .box3 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
}
#first-content .box3 .title {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  font-family: "Noto Sans TC";
  font-size: 2.25rem;
  margin-top: 50px;
}
#first-content .box3 .title .title-1 {
  margin-bottom: 10px;
}
#first-content .box3 .imgSet {
  position: absolute;
  z-index: 2;
  top: -5%;
  left: 2%;
  width: 50%;
  height: 100%;
}
#first-content .box3 .imgSet .line {
  position: absolute;
  top: 0;
  left: -15%;
  width: 100%;
  height: 60%;
}
#first-content .box3 .imgSet .SparrowImg {
  position: absolute;
  top: 30%;
  left: -20%;
  width: 95%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotateY(180deg);
}
#first-content .box3 .textSet {
  position: absolute;
  z-index: 2;
  top: 35%;
  right: 10%;
  width: 45%;
}
#first-content .box3 .textSet .content-title {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
#first-content .box3 .textSet .content-title .title-ch {
  font-size: 2rem;
  font-family: "Noto Sans TC";
}
#first-content .box3 .textSet .content-title .title-en {
  font-size: 1.75rem;
  font-family: "Covered By Your Grace";
}
#first-content .box3 .firstContentGraph {
  position: absolute;
  top: 15%;
  left: -20%;
  width: 125%;
  -o-object-fit: cover;
     object-fit: cover;
}
#first-content .box3 .content-text {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.125rem;
  line-height: 2;
}
#first-content .box3 .content-text .text-1 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-bottom: 20px;
}
#first-content .box3 .content-text .text-1 .text-1-title {
  width: 100px;
}
#first-content .box3 .content-text .text-1 .text-1-content {
  width: 100%;
}
#first-content .box3 .content-text .text-2 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-bottom: 20px;
}
#first-content .box3 .content-text .text-2 .text-2-title {
  width: 100px;
}
#first-content .box3 .content-text .text-2 .text-2-content {
  width: 100%;
}
#first-content .box3 .content-text .text-3 {
  display: flex;
  align-items: start;
  width: 100%;
  justify-content: start;
  margin-bottom: 20px;
}
#first-content .box3 .content-text .text-3 .text-3-title {
  width: 100px;
}
#first-content .box3 .content-text .text-3 .text-3-content {
  width: 100%;
}
#first-content .box3 .content-text .text-4 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
}
#first-content .box3 .content-text .text-4 .text-4-title {
  width: 100px;
}
#first-content .box3 .content-text .text-4 .text-4-content {
  width: 100%;
}

#first-summary {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
}
#first-summary .first-summary-text {
  margin-top: 10%;
  width: 40%;
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
}
#first-summary .first-summary-img-1 {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 20%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(-5deg);
  border: #FFFFFF solid 10px;
  border-radius: 10px;
}
#first-summary .first-summary-img-2 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 23%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotateY(180deg);
  border: #FFFFFF solid 10px;
  border-radius: 10px;
}
#first-summary .first-summary-img-3 {
  position: absolute;
  top: 15%;
  right: 5%;
  width: 20%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(5deg);
  border: #FFFFFF solid 10px;
  border-radius: 10px;
}
#first-summary .first-summary-img-4 {
  position: absolute;
  bottom: 8%;
  right: 5%;
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}

#second-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
#second-content .second-content-title {
  color: #FFFFFF;
  font-size: 2.25rem;
  line-height: 2;
  text-align: center;
  margin: 2% 0;
}
#second-content .second-panel {
  width: 40%;
  height: 60%;
  background-color: #D9D9D9;
  border-radius: 20px;
  padding: 3%;
}
#second-content .second-panel .content-title {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: #000000 solid 3px;
  margin-bottom: 30px;
}
#second-content .second-panel .content-title .title-ch {
  font-size: 2.25rem;
  font-family: "Noto Sans TC";
}
#second-content .second-panel .content-title .title-en {
  font-size: 1.75rem;
  font-family: "Covered By Your Grace";
}
#second-content .second-panel .content-text {
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.125rem;
  font-family: "Noto Sans TC";
  line-height: 2;
  padding: 0 20px;
}
#second-content .second-panel .content-text .text-1 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-bottom: 20px;
}
#second-content .second-panel .content-text .text-1 .text-1-title {
  width: 100px;
}
#second-content .second-panel .content-text .text-1 .text-1-content {
  width: 100%;
}
#second-content .second-panel .content-text .text-2 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-bottom: 20px;
}
#second-content .second-panel .content-text .text-2 .text-2-title {
  width: 100px;
}
#second-content .second-panel .content-text .text-2 .text-2-content {
  width: 100%;
}
#second-content .second-panel .content-text .text-3 {
  display: flex;
  align-items: start;
  width: 100%;
  justify-content: start;
  margin-bottom: 20px;
}
#second-content .second-panel .content-text .text-3 .text-3-title {
  width: 100px;
}
#second-content .second-panel .content-text .text-3 .text-3-content {
  width: 100%;
}
#second-content .second-panel .content-text .text-4 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
}
#second-content .second-panel .content-text .text-4 .text-4-title {
  width: 100px;
}
#second-content .second-panel .content-text .text-4 .text-4-content {
  width: 100%;
}
#second-content .second-content-graph {
  margin-top: 2%;
  width: 35%;
}
#second-content .imgSet1 {
  position: absolute;
  top: 5%;
  left: 1%;
  width: 30%;
  height: 90%;
}
#second-content .imgSet1 .imgSet1-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
}
#second-content .imgSet1 .imgSet1-1 a {
  position: absolute;
  bottom: 0;
  right: 20%;
  z-index: 10;
  color: #D9D9D9;
}
#second-content .imgSet1 .imgSet1-1 img {
  -webkit-clip-path: circle(30% at 50% 50%);
          clip-path: circle(30% at 50% 50%);
}
#second-content .imgSet1 .imgSet1-2 {
  position: absolute;
  top: 20%;
  left: 0;
  width: 60%;
}
#second-content .imgSet1 .imgSet1-2 a {
  position: absolute;
  bottom: 0;
  right: 20%;
  z-index: 10;
  color: #D9D9D9;
}
#second-content .imgSet1 .imgSet1-2 img {
  -webkit-clip-path: circle(30% at 50% 50%);
          clip-path: circle(30% at 50% 50%);
}
#second-content .imgSet1 .imgSet1-3 {
  position: absolute;
  top: 40%;
  right: 0;
  width: 60%;
}
#second-content .imgSet1 .imgSet1-3 a {
  position: absolute;
  bottom: 0;
  right: 20%;
  z-index: 10;
  color: #D9D9D9;
}
#second-content .imgSet1 .imgSet1-3 img {
  -webkit-clip-path: circle(30% at 50% 50%);
          clip-path: circle(30% at 50% 50%);
}
#second-content .imgSet1 .imgSet1-4 {
  position: absolute;
  top: 60%;
  left: 0;
  width: 60%;
}
#second-content .imgSet1 .imgSet1-4 img {
  -webkit-clip-path: circle(30% at 50% 50%);
          clip-path: circle(30% at 50% 50%);
}
#second-content .imgSet2 {
  position: absolute;
  top: 5%;
  right: 1%;
  width: 30%;
  height: 90%;
}
#second-content .imgSet2 .imgSet2-1 {
  position: absolute;
  top: 0%;
  left: 0;
  width: 60%;
}
#second-content .imgSet2 .imgSet2-1 a {
  position: absolute;
  bottom: 20%;
  right: 20%;
  z-index: 10;
  color: #D9D9D9;
}
#second-content .imgSet2 .imgSet2-1 img {
  -webkit-clip-path: circle(25% at 50% 50%);
          clip-path: circle(25% at 50% 50%);
}
#second-content .imgSet2 .imgSet2-2 {
  position: absolute;
  top: 20%;
  right: 0;
  width: 60%;
}
#second-content .imgSet2 .imgSet2-2 img {
  -webkit-clip-path: circle(25% at 50% 50%);
          clip-path: circle(25% at 50% 50%);
}
#second-content .imgSet2 .imgSet2-3 {
  position: absolute;
  top: 40%;
  left: 0;
  width: 60%;
}
#second-content .imgSet2 .imgSet2-3 img {
  -webkit-clip-path: circle(25% at 50% 50%);
          clip-path: circle(25% at 50% 50%);
}
#second-content .imgSet2 .imgSet2-4 {
  position: absolute;
  top: 60%;
  right: 0;
  width: 60%;
}
#second-content .imgSet2 .imgSet2-4 a {
  position: absolute;
  bottom: 20%;
  right: 20%;
  z-index: 10;
  color: #D9D9D9;
}
#second-content .imgSet2 .imgSet2-4 img {
  -webkit-clip-path: circle(25% at 50% 50%);
          clip-path: circle(25% at 50% 50%);
}

#second-summary {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
}
#second-summary .second-summary-text {
  margin-top: 12%;
  width: 40%;
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
}
#second-summary .second-summary-img-1 {
  position: absolute;
  top: 5%;
  left: 0;
  width: 30%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}
#second-summary .second-summary-img-2 {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 25%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}
#second-summary .second-summary-img-3 {
  position: absolute;
  bottom: -1%;
  right: -1%;
  width: 60%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}

#third-content {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
}
#third-content .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  font-family: "Noto Sans TC";
  font-size: 2.25rem;
  margin-top: 50px;
}
#third-content .title .title-1 {
  margin-bottom: 10px;
}
#third-content .imgSet {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#third-content .imgSet .imgSet-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
}
#third-content .imgSet .imgSet-1 .imgSet-1-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  cursor: pointer;
}
#third-content .imgSet .imgSet-1 .imgSet-1-1 .graph {
  position: absolute;
  top: 10%;
  z-index: 10;
  width: 80%;
  transition: all 0.3s ease;
}
#third-content .imgSet .imgSet-1 .imgSet-1-1 .img {
  width: 90%;
  transition: all 0.3s ease;
}
#third-content .imgSet .imgSet-1 .imgSet-1-1:hover .graph {
  transform: translateY(-20px);
}
#third-content .imgSet .imgSet-1 .imgSet-1-1:hover .img {
  transform: scale(1.1);
}
#third-content .imgSet .imgSet-1 .imgSet-1-1.active .graph {
  transform: translateY(-20px);
}
#third-content .imgSet .imgSet-1 .imgSet-1-1.active .img {
  transform: scale(1.1);
}
#third-content .imgSet .imgSet-1 .imgSet-1-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  cursor: pointer;
}
#third-content .imgSet .imgSet-1 .imgSet-1-2 .graph {
  position: absolute;
  top: 10%;
  z-index: 10;
  width: 80%;
  transition: all 0.3s ease;
}
#third-content .imgSet .imgSet-1 .imgSet-1-2 .img {
  width: 85%;
  transition: all 0.3s ease;
}
#third-content .imgSet .imgSet-1 .imgSet-1-2:hover .graph {
  transform: translateY(-20px);
}
#third-content .imgSet .imgSet-1 .imgSet-1-2:hover .img {
  transform: scale(1.1);
}
#third-content .imgSet .imgSet-1 .imgSet-1-2.active .graph {
  transform: translateY(-20px);
}
#third-content .imgSet .imgSet-1 .imgSet-1-2.active .img {
  transform: scale(1.1);
}
#third-content .imgSet .imgSet-1 .imgSet-1-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  cursor: pointer;
}
#third-content .imgSet .imgSet-1 .imgSet-1-3 .graph {
  position: absolute;
  top: 10%;
  z-index: 10;
  width: 80%;
  transition: all 0.3s ease;
}
#third-content .imgSet .imgSet-1 .imgSet-1-3 .img {
  width: 70%;
  transition: all 0.3s ease;
}
#third-content .imgSet .imgSet-1 .imgSet-1-3:hover .graph {
  transform: translateY(-20px);
}
#third-content .imgSet .imgSet-1 .imgSet-1-3:hover .img {
  transform: scale(1.1);
}
#third-content .imgSet .imgSet-1 .imgSet-1-3.active .graph {
  transform: translateY(-20px);
}
#third-content .imgSet .imgSet-1 .imgSet-1-3.active .img {
  transform: scale(1.1);
}
#third-content .imgSet .imgSet-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
}
#third-content .imgSet .imgSet-2 .imgSet-2-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  cursor: pointer;
}
#third-content .imgSet .imgSet-2 .imgSet-2-1 .graph {
  position: absolute;
  top: 10%;
  z-index: 10;
  width: 80%;
  transition: all 0.3s ease;
}
#third-content .imgSet .imgSet-2 .imgSet-2-1 .img {
  width: 60%;
  transition: all 0.3s ease;
}
#third-content .imgSet .imgSet-2 .imgSet-2-1:hover .graph {
  transform: translateY(-20px);
}
#third-content .imgSet .imgSet-2 .imgSet-2-1:hover .img {
  transform: scale(1.1);
}
#third-content .imgSet .imgSet-2 .imgSet-2-1.active .graph {
  transform: translateY(-20px);
}
#third-content .imgSet .imgSet-2 .imgSet-2-1.active .img {
  transform: scale(1.1);
}
#third-content .imgSet .imgSet-2 .imgSet-2-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  cursor: pointer;
}
#third-content .imgSet .imgSet-2 .imgSet-2-2 .graph {
  position: absolute;
  top: 10%;
  z-index: 10;
  width: 80%;
  transition: all 0.3s ease;
}
#third-content .imgSet .imgSet-2 .imgSet-2-2 .img {
  width: 70%;
  transition: all 0.3s ease;
}
#third-content .imgSet .imgSet-2 .imgSet-2-2:hover .graph {
  transform: translateY(-20px);
}
#third-content .imgSet .imgSet-2 .imgSet-2-2:hover .img {
  transform: scale(1.1);
}
#third-content .imgSet .imgSet-2 .imgSet-2-2.active .graph {
  transform: translateY(-20px);
}
#third-content .imgSet .imgSet-2 .imgSet-2-2.active .img {
  transform: scale(1.1);
}
#third-content .imgSet .imgSet-2 .imgSet-2-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  cursor: pointer;
}
#third-content .imgSet .imgSet-2 .imgSet-2-3 .graph {
  position: absolute;
  top: 10%;
  z-index: 10;
  width: 80%;
  transition: all 0.3s ease;
}
#third-content .imgSet .imgSet-2 .imgSet-2-3 .img {
  width: 60%;
  transition: all 0.3s ease;
}
#third-content .imgSet .imgSet-2 .imgSet-2-3:hover .graph {
  transform: translateY(-20px);
}
#third-content .imgSet .imgSet-2 .imgSet-2-3:hover .img {
  transform: scale(1.1);
}
#third-content .imgSet .imgSet-2 .imgSet-2-3.active .graph {
  transform: translateY(-20px);
}
#third-content .imgSet .imgSet-2 .imgSet-2-3.active .img {
  transform: scale(1.1);
}
#third-content .imgSet .imgSet-2 .imgSet-2-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  cursor: pointer;
}
#third-content .imgSet .imgSet-2 .imgSet-2-4 .graph {
  position: absolute;
  top: 10%;
  z-index: 10;
  width: 80%;
  transition: all 0.3s ease;
}
#third-content .imgSet .imgSet-2 .imgSet-2-4 .img {
  width: 80%;
  transition: all 0.3s ease;
}
#third-content .imgSet .imgSet-2 .imgSet-2-4:hover .graph {
  transform: translateY(-20px);
}
#third-content .imgSet .imgSet-2 .imgSet-2-4:hover .img {
  transform: scale(1.1);
}
#third-content .imgSet .imgSet-2 .imgSet-2-4.active .graph {
  transform: translateY(-20px);
}
#third-content .imgSet .imgSet-2 .imgSet-2-4.active .img {
  transform: scale(1.1);
}
#third-content .panel {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 40%;
  height: 60%;
  background-color: #D9D9D9;
  border-radius: 20px;
  padding: 3%;
}
#third-content .panel .content-title {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: #000000 solid 3px;
  margin-bottom: 30px;
}
#third-content .panel .content-title .title-ch {
  font-size: 2.25rem;
  font-family: "Noto Sans TC";
}
#third-content .panel .content-title .title-en {
  font-size: 1.75rem;
  font-family: "Covered By Your Grace";
}
#third-content .panel .content-text {
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.125rem;
  font-family: "Noto Sans TC";
  line-height: 2;
  padding: 0 20px;
}
#third-content .panel .content-text .text-1 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-bottom: 20px;
}
#third-content .panel .content-text .text-1 .text-1-title {
  width: 100px;
}
#third-content .panel .content-text .text-1 .text-1-content {
  width: 100%;
}
#third-content .panel .content-text .text-2 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin-bottom: 20px;
}
#third-content .panel .content-text .text-2 .text-2-title {
  width: 100px;
}
#third-content .panel .content-text .text-2 .text-2-content {
  width: 100%;
}
#third-content .panel .content-text .text-3 {
  display: flex;
  align-items: start;
  width: 100%;
  justify-content: start;
  margin-bottom: 20px;
}
#third-content .panel .content-text .text-3 .text-3-title {
  width: 100px;
}
#third-content .panel .content-text .text-3 .text-3-content {
  width: 100%;
}
#third-content .panel .content-text .text-4 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
}
#third-content .panel .content-text .text-4 .text-4-title {
  width: 100px;
}
#third-content .panel .content-text .text-4 .text-4-content {
  width: 100%;
}

#third-summary {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
}
#third-summary .third-summary-text {
  margin-top: 12%;
  width: 40%;
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
}
#third-summary .third-summary-img-1 {
  position: absolute;
  top: 5%;
  left: 0;
  width: 20%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}
#third-summary .third-summary-img-2 {
  position: absolute;
  bottom: 3%;
  left: 5%;
  width: 20%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}
#third-summary .third-summary-img-3 {
  position: absolute;
  top: 3%;
  right: 0;
  width: 25%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}
#third-summary .third-summary-img-4 {
  position: absolute;
  bottom: 15%;
  right: 1%;
  width: 20%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}
#third-summary .third-summary-img-5 {
  position: absolute;
  bottom: 3%;
  right: 18%;
  width: 20%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}

#last-content-1 {
  position: relative;
}
#last-content-1 .textSet {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#last-content-1 .textSet h2 {
  color: #FFFFFF;
  font-family: "Noto Sans TC";
  font-size: 2.5rem;
}
#last-content-1 .textSet p {
  margin-top: 30px;
  color: #FFFFFF;
  font-family: "Noto Sans TC";
  font-size: 1.5rem;
  line-height: 2;
  text-align: right;
}
#last-content-1 .textSet span {
  font-size: 2rem;
}
#last-content-1 .last-content-1-img {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 25%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}
#last-content-1 .last-content-1-img-2 {
  position: absolute;
  bottom: 2%;
  right: -1%;
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}

#last-content-2 {
  position: relative;
}
#last-content-2 .last-content-2-text {
  margin-top: 10%;
  width: 50%;
  color: #FFFFFF;
  font-size: 2.5rem;
  line-height: 2;
  text-align: center;
}
#last-content-2 .imgSet1 {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(-15deg);
}
#last-content-2 .imgSet1 img {
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  border: #FFFFFF solid 3px;
  border-radius: 10px;
}
#last-content-2 .imgSet1 p {
  margin-top: 30px;
  color: #FFFFFF;
  font-family: "Noto Sans TC";
  font-size: 1.25rem;
  text-align: center;
}
#last-content-2 .imgSet2 {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(15deg);
}
#last-content-2 .imgSet2 img {
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  border: #FFFFFF solid 3px;
  border-radius: 10px;
}
#last-content-2 .imgSet2 p {
  margin-top: 30px;
  color: #FFFFFF;
  font-family: "Noto Sans TC";
  font-size: 1.25rem;
  text-align: center;
}
#last-content-2 .imgSet3 {
  position: absolute;
  top: 30%;
  right: 5%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#last-content-2 .imgSet3 img {
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  border: #FFFFFF solid 3px;
  border-radius: 10px;
}
#last-content-2 .imgSet3 p {
  margin-top: 50px;
  color: #FFFFFF;
  font-family: "Noto Sans TC";
  font-size: 1.25rem;
  text-align: center;
}
#last-content-2 .imgSet3 a {
  position: absolute;
  bottom: 10%;
  right: 2%;
  color: #D9D9D9;
}

#last-summary {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#last-summary .textSet {
  width: 40%;
  color: #FFFFFF;
  line-height: 2;
  text-align: center;
  font-family: "Noto Sans TC";
}
#last-summary .textSet p {
  font-size: 1.5rem;
}
#last-summary .textSet h2 {
  margin-top: 50px;
  font-size: 2.25rem;
}
#last-summary .last-summary-img-1 {
  position: absolute;
  bottom: 5%;
  left: -1%;
  width: 30%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}
#last-summary .last-summary-img-2 {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 25%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}
#last-summary .last-summary-img-3 {
  position: absolute;
  bottom: 5%;
  right: 0%;
  width: 30%;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  width: 100%;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
}
footer div {
  width: 80%;
  height: 100%;
  border-top: #FFFFFF solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer div p {
  color: #FFFFFF;
  font-family: "Noto Sans TC";
  font-size: 1rem;
}
footer div span {
  font-family: "Covered By Your Grace";
}
footer div a {
  display: inline-block;
  color: #D9D9D9;
}/*# sourceMappingURL=style.css.map */